.App {
  text-align: center;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container {
  height: 100%;
  max-width: 100%; 
  margin: 0;
  position: relative;
  padding: 20px;
}

.map-container {
  min-height: 400px;
  margin-top: 1rem;
  width: 100%;
}

body {
    background-color: #131313;
    margin: 0
}

.dashboard-top {
    color: #fff;
    height: 20vh;
    display: flex;
    align-items: center;
}

.site-header {
    background-color: #444;
    color: #fff;
    margin-bottom: 1rem;
}

.headline {
    margin: 0;
    padding: 1rem;
}

.dashboard-top .dashboard-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 100%;
    text-align: center;
    background-color: #444;
    margin-right: 1rem;
}

.dashboard-top .dashboard-panel:last-of-type {
    margin-right: 0;
}

.dashboard-panel .data-title {
    margin: 0;
    font-weight: lighter;
}

.dashboard-panel .data-value {
    font-size: 3rem;
    margin: 0;
}

.dashboard-bottom {
    height: 200px;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    color: #fff;

}

.dashboard-bottom .dashboard-panel {
    width: 50%;
    height: 100%;
    background-color: #333;
    margin-right: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dashboard-bottom .dashboard-panel:last-of-type {
    margin-right: 0;
}


#currentStarImg img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: none;
}

#currentStarImg.active img {
    display: block;
}


.dashboard-panel.green {
    color: #4cd34c;
}

.dashboard-panel.blue {
    color: turquoise;
}

.dashboard-panel.red {
    color: #f95a5a;
}

.dashboard-panel.yellow {
    color: #d0b64c;
}